@section Preloader
{
    <div class="preloader" style="background-image: url('/media-static/car/page-loader.gif')"></div>
}

<div class="__preloader_content-container">

    <!-- Content
    ============================================= -->

    <div class="content-wrap">

        <div class="clearfix">
            <div class="row">

                <div class="col-6">
                    <div class="error404 center">404</div>
                </div>

                <div class="col-6" style="display: flex; align-items: center;">
                    <h4>The page you were looking for couldn't be found.</h4>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- #content end -->