<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/05a6c776-18ce-4803-b986-200e6984885a/resourceGroups/TheCarHub/providers/Microsoft.Web/sites/TheCarHub</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://thecarhub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>thecarhub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheCarHub</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TheCarHub</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>