@model TheCarHub.Models.InputModels.ContactInputModel

@{
    ViewData["Title"] = "Contact us!";
}

@* <style>  *@
@*   *@
@*  	#page-title:hover .video-wrap,  *@
@*  	#page-title:hover .container {  *@
@*  		opacity: 0;  *@
@*  		z-index: -99;  *@
@*  	}  *@
@*   *@
@*  	.border-form-control { border-color: #DDD }  *@
@*   *@
@*  </style>  *@

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block">
                        <h2>contact Us</h2>
                        <p>It always has been, and will always be, about quality. Let us know how we can help you today!</p>
                    </div>

                    <div>

                        <form asp-action="SendMessage" method="post" enctype="multipart/form-data" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="col_one_third">
                                <label asp-for="SenderName">Name <small class="text-danger">*</small></label>
                                <input asp-for="SenderName" type="text" class="sm-form-control border-form-control"/>
                                <span asp-validation-for="SenderName" class="text-danger"></span>
                            </div>

                            <div class="col_one_third">
                                <label asp-for="SenderEmail">Email <small>*</small></label>
                                <input asp-for="SenderEmail" class="sm-form-control border-form-control"/>
                                <span asp-validation-for="SenderEmail" class="text-danger"></span>
                            </div>

                            <div class="col_one_third col_last">
                                <label asp-for="SenderPhoneNumber">Phone</label>
                                <input asp-for="SenderPhoneNumber" class="sm-form-control border-form-control"/>
                                <span asp-validation-for="SenderPhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="clear"></div>

                            <div class="col_full">
                                <label asp-for="Subject">Subject <small>*</small></label>
                                <input asp-for="Subject" class="sm-form-control border-form-control"/>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>

                            <div class="clear"></div>

                            <div class="col_full">
                                <label asp-for="Message">Message <small>*</small></label>
                                <textarea asp-for="Message" class="sm-form-control border-form-control" rows="5" cols="30"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <div class="col_full">
                                <button class="button button-3d nomargin" type="submit">Send Message</button>
                            </div>
                            
                            <div class="clear"></div>
                            
                            <div class="col-full">
                                @if (TempData["MessageFail"] != null)
                                {
                                    <p class="text-danger">@TempData["MessageFail"]</p>
                                }
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}