@model TheCarHub.Models.ViewModels.AdminViewModel

@{
    ViewData["Title"] = "Admin dashboard";
}

<div class="container">
    <div class="col-12">
        <h1>Administrator Dashboard</h1>
    </div>

    <div class="col-12">
        <table class="table">
            
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Car</td>
                    <td>Status</td>
                    <td>Selling price</td>
                </tr>
            </thead>
            <tbody>
            @foreach(var listing in Model.Listings)
                {
                    <tr>
                        <td>@listing?.Id</td>
                        <td>@listing?.Title</td>
                        <td>@listing?.Car.Model</td>
                        <td>@listing?.Status</td>
                        <td>@listing?.SellingPrice</td>
                    </tr>        
                }
            </tbody>
        </table>
    </div>
</div>