@* @model TheCarHub.Models.ViewModels.ListingViewModel *@
@* *@
@* @{ *@
@*     ViewData["Title"] = @Model.Title ?? "Listing Title"; *@
@* } *@
@* *@
@* <div class="container margin-auto"> *@
@*     <div class="col-12"> *@
@*         <form enctype="multipart/form-data" asp-controller="Admin" asp-action="Edit" method="POST"> *@
@* *@
@*             <div class="form-group"> *@
@*                 <input type="hidden" asp-for="Id"> *@
@*             </div> *@
@* *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Title"></label> *@
@*                 <input asp-for="Title" class="form-control"> *@
@*                 <span asp-validation-for="Title" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Description"></label> *@
@*                 <input asp-for="Description" class="form-control"> *@
@*                 <span asp-validation-for="Description" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="form-group"> *@
@*                 <label asp-for="ListingTags"></label> *@
@*                 <input asp-for="ListingTags" class="form-control"> *@
@*                 <span asp-validation-for="ListingTags" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Status"></label> *@
@*                 <input asp-for="Status" class="form-control"> *@
@*                 <span asp-validation-for="Status" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="form-group"> *@
@*                 <label asp-for="SellingPrice"></label> *@
@*                 <input asp-for="SellingPrice" class="form-control"> *@
@*                 <span asp-validation-for="SellingPrice" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="custom-file"> *@
@*                 <input asp-for="FormFiles" class="custom-file-input"> *@
@*                 <label asp-for="FormFiles" class="custom-file-label"></label> *@
@*                 <span asp-validation-for="FormFiles" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="col-12"> *@
@*                 @{ *@
@*                     if (Model?.Media != null && Model.Media.Any()) *@
@*                     { *@
@*                         foreach(var media in Model.Media) *@
@*                         { *@
@*                             var mediaPath = "/media/" + media.FileName; *@
@*                             <img class="img-fluid" src="@mediaPath" alt="@media.Caption"> *@
@*                         } *@
@*                     } *@
@*                 } *@
@*             </div> *@
@* *@
@*             <button type="submit" class="btn btn-primary">Submit</button> *@
@* *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* *@
@* @section Scripts { *@
@*     <script> *@
@*         $(document).ready(function() { *@
@*             $('.custom-file-input').on("change", function() { *@
@*                 var fileName = $(this).val().split("\\").pop(); *@
@*                 $(this).next('.custom-file-label').html(fileName); *@
@*             }) *@
@*         }); *@
@*     </script> *@
@* } *@
