@* @model TheCarHub.Models.InputModels.ListingInputModel *@
@* *@
@* <form asp-action="MediaUpload" enctype="multipart/form-data"> *@
@*     <div class="custom-file"> *@
@*         <input asp-for="Files" class="custom-file-input"> *@
@*         <label asp-for="Files" class="custom-file-label"></label> *@
@*         <span asp-validation-for="Files" class="text-danger"></span> *@
@*     </div> *@
@* *@
@*     $1$     <div class="col-12"> #1# *@
@*     $1$         @{ #1# *@
@*     $1$             if (Model?.Media != null && Model.Media.Any()) #1# *@
@*     $1$             { #1# *@
@*     $1$                 foreach (var media in Model.Media) #1# *@
@*     $1$                 { #1# *@
@*     $1$                     var mediaPath = "/media/" + media.FileName; #1# *@
@*     $1$                     <img class="img-fluid" src="@mediaPath" alt="@media.Caption"> #1# *@
@*     $1$                 } #1# *@
@*     $1$             } #1# *@
@*     $1$         } #1# *@
@*     $1$     </div> #1# *@
@* *@
@*     <div class="form-group"> *@
@*         <button type="submit" class="btn btn-primary">Submit</button> *@
@*     </div> *@
@* </form> *@