@model TheCarHub.Models.InputModels.ListingInputModel

@{
    ViewData["Title"] = "Create";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Create Listing
                </div>
            </div>
            <div class="page-title-actions">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <button type="button" class="btn-shadow btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fas fa-home fa-w-20"></i>
                        </span>
                        Home
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <form asp-action="Create" enctype="multipart/form-data" method="POST" id="create-listing-form">
            <div class="form-row">
                <div class="col-6">
                    <h4 class="form-heading">Car Information</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- CAR INFORMATION -->
                    <div class="form-row">
                        <div class="form-group col-7">
                            <label asp-for="Car.VIN" class="control-label">VIN</label>
                            <input asp-for="Car.VIN" class="form-control"/>
                            <span asp-validation-for="Car.VIN" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="CarYear">Year</label>
                            <select asp-for="CarYear" class="form-control" asp-items="ViewBag.YearSelect"></select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-5">
                            <label asp-for="Car.Make" class="control-label"></label>
                            <input asp-for="Car.Make" class="form-control"/>
                            <span asp-validation-for="Car.Make" class="text-danger"></span>
                        </div>
                        <div class="form-group col-5">
                            <label asp-for="Car.Model" class="control-label"></label>
                            <input asp-for="Car.Model" class="form-control"/>
                            <span asp-validation-for="Car.Model" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-5">
                            <label asp-for="Car.Trim" class="control-label"></label>
                            <input asp-for="Car.Trim" class="form-control"/>
                            <span asp-validation-for="Car.Trim" class="text-danger"></span>
                        </div>
                        <div class="form-group col-5">
                            <label asp-for="PurchaseDate" class="control-label">Purchase Date</label>
                            <input asp-for="PurchaseDate" class="form-control" type="date" placeholder=" "/>
                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label asp-for="PurchasePrice">Purchase Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input asp-for="PurchasePrice" class="form-control __purchase-price"/>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- REPAIRJOB INFORMATION -->
                <div class="col-6">
                    <h4 class="form-heading">Repair Information</h4>
                    <div class="form-row">
                        <div class="form-group col-10">
                            <label asp-for="RepairJob.Description" class="control-label">Description</label>
                            <input asp-for="RepairJob.Description" class="form-control"/>
                            <span asp-validation-for="RepairJob.Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label asp-for="RepairJob.Cost">Repair cost</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input asp-for="RepairJob.Cost" class="form-control __repair-cost"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--GENERAL INFORMATION -->
            <div class="form-row">
                <div class="col-12">
                    <h4 class="form-heading mt-3">General Listing Information</h4>
                    <div class="form-row">
                        <div class="form-group col-7">
                            <label asp-for="Title" class="control-label">Listing Title</label>
                            <input asp-for="Title" class="form-control"/>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="SellingPrice">Selling price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input asp-for="SellingPrice" class="form-control __selling-price" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-11">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="3" cols="50"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- MEDIA UPLOAD -->
            <div id="drag-drop-area" asp-for="Files"></div>

            <div class="img-select-hidden" hidden></div>

            <div class="form-row">
                <div class="form-group mx-auto">
                    <button type="submit" class="btn btn-success btn-lg mt-4"><i class="fas fa-check"></i> Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        (function uppy() {
            const uppy = Uppy.Core({
            restrictions: { allowedFileTypes: ['image/*', '.jpg', '.jpeg', '.png',] }
                })
                .use(Uppy.Dashboard, {
                    inline: true,
                    hideUploadButton: false,
                    target: '#drag-drop-area'
                })
                .use(Uppy.XHRUpload, {
                    endpoint: "https://" + `${location.hostname}:${location.port}` + "/admin/media/upload",
                    formData: true, 
                    fieldName: "file",
                    bundle: true 
                });

                uppy.on("upload-success", (file, response) => {
                    const fileName = response.body;
                    
                    $(".img-select-hidden").append(`<input name="ImgNames" value=${fileName}>${fileName}</input>`);
                });    
            
                uppy.on('complete', (result) => {
                    console.log('Upload complete! We’ve uploaded these files:', result.successful)
                });
        })();
        
        (function priceCalculationHandler() {
            let repairCost = $(".__repair-cost");
            let purchasePrice = $(".__purchase-price");
            
            function calculateSellingPrice() {
                let i = $(repairCost).val() !== "" ? parseInt($(repairCost).val()) : 0;
                let j = $(purchasePrice).val() !== "" ? parseInt($(purchasePrice).val()) : 0;
                
                return i + j + 500;
            }
           
            $(repairCost).on("input", () => { 
                $(".__selling-price").attr("value", calculateSellingPrice()); 
            });
                    
            $(purchasePrice).on("input", () => {
                $(".__selling-price").attr("value", calculateSellingPrice());
            });
        })();
    </script>
}